# Simple Logistic Regression

In [1]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
fileIn = "C:\\Users\\patri\\OneDrive\\Projects\\pyton\\LOS\\data\\train_data.pkl"
df = pd.read_pickle(fileIn)
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay,LOS
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911,0-10,short
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954,41-50,long
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745,31-40,medium
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272,41-50,long
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558,41-50,long

In [3]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay', 'LOS'],
      dtype='object')

### severity of illness

In [4]:
independent_variables = ['Severity of Illness', 'City_Code_Hospital', 'Ward_Type', 'Type of Admission', 'Age']
X = df[independent_variables]
y = df['LOS']

X.head()

  Severity of Illness City_Code_Hospital Ward_Type Type of Admission    Age
0             Extreme                  3         R         Emergency  51-60
1             Extreme                  5         S            Trauma  51-60
2             Extreme                  1         S            Trauma  51-60
3             Extreme                  2         R            Trauma  51-60
4             Extreme                  2         S            Trauma  51-60

In [5]:
X.columns

Index(['Severity of Illness', 'City_Code_Hospital', 'Ward_Type',
       'Type of Admission', 'Age'],
      dtype='object')

In [6]:
dummy_dimensions = ['Severity of Illness', 'City_Code_Hospital', 'Ward_Type', 'Type of Admission', 'Age']
X = pd.get_dummies(X, columns=dummy_dimensions)
X.head()

,Severity of Illness_Extreme,Severity of Illness_Minor,Severity of Illness_Moderate,City_Code_Hospital_1,City_Code_Hospital_2,City_Code_Hospital_3,City_Code_Hospital_4,City_Code_Hospital_5,City_Code_Hospital_6,City_Code_Hospital_7,...,Age_0-10,Age_11-20,Age_21-30,Age_31-40,Age_41-50,Age_51-60,Age_61-70,Age_71-80,Age_81-90,Age_91-100
0,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
2,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [7]:
print(X.columns) 
print(X.shape)

Index(['Severity of Illness_Extreme', 'Severity of Illness_Minor',
       'Severity of Illness_Moderate', 'City_Code_Hospital_1',
       'City_Code_Hospital_2', 'City_Code_Hospital_3', 'City_Code_Hospital_4',
       'City_Code_Hospital_5', 'City_Code_Hospital_6', 'City_Code_Hospital_7',
       'City_Code_Hospital_9', 'City_Code_Hospital_10',
       'City_Code_Hospital_11', 'City_Code_Hospital_13', 'Ward_Type_P',
       'Ward_Type_Q', 'Ward_Type_R', 'Ward_Type_S', 'Ward_Type_T',
       'Ward_Type_U', 'Type of Admission_Emergency',
       'Type of Admission_Trauma', 'Type of Admission_Urgent', 'Age_0-10',
       'Age_11-20', 'Age_21-30', 'Age_31-40', 'Age_41-50', 'Age_51-60',
       'Age_61-70', 'Age_71-80', 'Age_81-90', 'Age_91-100'],
      dtype='object')
(318438, 33)

In [8]:
X.shape

(318438, 33)

### Split the data

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

### Train the model

In [10]:
model = LogisticRegression(solver='liblinear', random_state=123)
fitted_model = model.fit(X_train, y_train)

### Measure the Model

In [11]:
# Make predictions on the test set
y_pred = fitted_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy}")

Model Accuracy: 0.47128710798475903